body {
    margin: 0;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: 'MountainsofChristmas';
    src: url('/fonts/MountainsofChristmas-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MountainsofChristmasBold';
    src: url('/fonts/MountainsofChristmas-Bold.ttf') format('truetype');
}
/*new Color(255, 18, 42))*/
h1 {
    font-family: 'MountainsofChristmasBold', sans-serif;
    text-align: center;
    font-size: 5.5em;
    text-transform: uppercase;
    color: #eb122b;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: 'MountainsofChristmas', sans-serif;
    font-size: 3.5em;
}