body {
    margin: 0;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: 'MountainsofChristmas';
    src: url('/fonts/MountainsofChristmas-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MountainsofChristmasBold';
    src: url('/fonts/MountainsofChristmas-Bold.ttf') format('truetype');
}
/*new Color(255, 18, 42))*/
h1 {
    font-family: 'MountainsofChristmasBold', sans-serif;
    text-align: center;
    font-size: 5.5em;
    text-transform: uppercase;
    color: #eb122b;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: 'MountainsofChristmas', sans-serif;
    font-size: 3.5em;
    text-align: center;
}

form {
    text-align: center;
}

input {
    font-family: 'MountainsofChristmas', sans-serif;
    text-align: center;
}

button {
    font-family: 'MountainsofChristmas', sans-serif;
    text-align: center;
}

header {
    font-family: 'MountainsofChristmas', sans-serif;
    text-align: center;
    font-size: 3.5em;
    top: 25%; left: 50%;
}

footer {
    font-family: 'MountainsofChristmas', sans-serif;
    text-align: center;
    font-size: 32px;
    top: 85%; left: 50%;
}

.custom-file-label {
    font-family: 'MountainsofChristmas', sans-serif;
    display: inline-block;
    font-size: 1.5em;
    padding: 10px 10px;
    border: 1px solid #eb122b;
    background-color: #eb122b;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.custom-file-label:hover {
    background-color: #8fbc8f;
    color: #fff;
}

input[type="file"] {
    display: none; /* Ensure the file input remains hidden */
}

label{
    font-family: 'MountainsofChristmas', sans-serif;
    font-size: 1.5em;
}

input[type="text"] {
    font-family: 'MountainsofChristmas', sans-serif;
    font-size: 1.5em;
}

#uploadForm {
    margin-bottom: 50px; /* Adjust spacing as necessary */
}

.button-container {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    align-items: center;    /* Ensures buttons are aligned at the same height */
    gap: 20px;              /* Adds spacing between the buttons */
    margin: 20px auto;
    padding: 10px;
}