<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <h1>HO! HO! HO!</h1>
    <p>Please upload the Secret Santa survey

        <form
            id="uploadForm"
            method="post"
            th:action="@{/}"
            enctype="multipart/form-data">

                <input id="input-file" type="file" name="file"/>
                <button class="btn btn-sm btn-outline-success float-right" type="submit">Upload</button>
        </form>
    </p>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>