<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Secret Santa matching service</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<h1>Secret Santa</h1>
<p>Congratulations! Your Secret Santa list has been created.</p>

<!-- Buttons Section -->
<div class="button-container">
    <!-- Start Again Button -->
    <form method="get" th:action="@{/}" style="display: inline;">
        <button class="btn btn-primary custom-file-label" type="submit">Start Again</button>
    </form>

    <!-- Download File Button -->
    <a th:href="@{/download}" download>
        <button class="btn btn-secondary custom-file-label">Download File</button>
    </a>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
