<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Secret Santa matching service</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<!-- Buttons Section -->
<div class="button-container">
    <!-- Download Button -->
    <a th:href="@{/download}" download>
        <button class="btn btn-primary custom-file-label">Download Now</button>
    </a>

    <!-- Email Button -->
    <form th:action="@{/send-email}" method="get" style="display: inline;">
<!--        <input type="hidden" th:name="fileName" th:value="${fileName}"/>-->
        <button class="btn btn-secondary custom-file-label" type="submit">Send Emails</button>
    </form>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</body>
</html>